In [28]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("psparks/instacart-market-basket-analysis")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Qamar Hasan\.cache\kagglehub\datasets\psparks\instacart-market-basket-analysis\versions\1

In [29]:
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
import numpy as np
from sklearn.cluster import DBSCAN
from sklearn.neighbors import NearestNeighbors

In [43]:
aisles = pd.read_csv(f"{path}/aisles.csv")
dept = pd.read_csv(f"{path}/departments.csv")
products = pd.read_csv(f"{path}/products.csv")
orders = pd.read_csv(f"{path}/orders.csv")
order_prior = pd.read_csv(f"{path}/order_products__prior.csv")
order_train = pd.read_csv(f"{path}/order_products__train.csv")

# Preview first 5 rows of one file
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [31]:
# Merge prior orders with products
order_products = pd.merge(order_prior, products, on="product_id", how="left")

# Merge with orders to get user/order info
order_products = pd.merge(order_products, orders[['order_id', 'user_id']], on="order_id", how="left")

product_counts = order_products['product_name'].value_counts()

order_products.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,user_id
0,2,33120,1,1,Organic Egg Whites,86,16,202279
1,2,28985,2,1,Michigan Organic Kale,83,4,202279
2,2,9327,3,0,Garlic Powder,104,13,202279
3,2,45918,4,1,Coconut Butter,19,13,202279
4,2,30035,5,0,Natural Sweetener,17,13,202279

In [44]:
print("Total number of rows in order_products:", order_products.shape[0])

Total number of rows in order_products: 32434489

In [45]:
product_counts.unique().sum()

np.int64(23430661)

In [46]:
# Group by order_id to create transaction lists
transactions = order_products.groupby("order_id")["product_name"].apply(list).values.tolist()

print(transactions[0:5])

[['Organic Egg Whites', 'Michigan Organic Kale', 'Garlic Powder', 'Coconut Butter', 'Natural Sweetener', 'Carrots', 'Original Unflavored Gelatine Mix', 'All Natural No Stir Creamy Almond Butter', 'Classic Blend Cole Slaw'], ['Total 2% with Strawberry Lowfat Greek Strained Yogurt', 'Unsweetened Almondmilk', 'Lemons', 'Organic Baby Spinach', 'Unsweetened Chocolate Almond Breeze Almond Milk', 'Organic Ginger Root', 'Air Chilled Organic Boneless Skinless Chicken Breasts', 'Organic Ezekiel 49 Bread Cinnamon Raisin'], ['Plain Pre-Sliced Bagels', 'Honey/Lemon Cough Drops', 'Chewy 25% Low Sugar Chocolate Chip Granola', 'Oats & Chocolate Chewy Bars', "Kellogg's Nutri-Grain Apple Cinnamon Cereal", 'Nutri-Grain Soft Baked Strawberry Cereal Breakfast Bars', "Kellogg's Nutri-Grain Blueberry Cereal", 'Tiny Twists Pretzels', 'Traditional Snack Mix', 'Goldfish Cheddar Baked Snack Crackers', 'Original Orange Juice', 'Sugarfree Energy Drink', 'Energy Drink'], ['Bag of Organic Bananas', 'Just Crisp, Parmesan', 'Fresh Fruit Salad', 'Organic Raspberries', '2% Reduced Fat Milk', 'Sensitive Toilet Paper', 'Natural Artesian Water, Mini & Mobile', 'Matzos, Thin, Tea', 'Boneless Skinless Chicken Breast Fillets', 'Mini Original Babybel Cheese', 'Macaroni And Cheese', 'Clementines', "Biscuits Orange Pim's", 'Dairy Milk Fruit & Nut Chocolate Bar', 'Artichokes', 'Apricot Preserves', 'One Ply Choose A Size Big Roll Paper Towel Rolls', 'Wafer, Chocolate', 'French Lavender Hand Wash', 'American Slices Cheese', 'Everyday  Facial Tissues', 'Organic Hass Avocado', 'Spaghetti Pasta', 'Meyer Lemon', 'Bag of Organic Lemons', 'Original Black Box Tablewater Cracker'], ['Cleanse', 'Dryer Sheets Geranium Scent', 'Clean Day Lavender Scent Room Freshener Spray']]

In [56]:
# Limit transactions to the first 10000 rows
transactions = transactions[:5000]

In [57]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

df.head()

,& Go! Hazelnut Spread + Pretzel Sticks,0 Calorie Strawberry Dragonfruit Water Beverage,0% Fat Blueberry Greek Yogurt,0% Fat Free Organic Milk,0% Fat Organic Greek Vanilla Yogurt,0% Fat Superfruits Greek Yogurt,0% Greek Strained Yogurt,0% Greek Yogurt Black Cherry on the Bottom,"0% Greek, Blueberry on the Bottom Yogurt",0% Milkfat Greek Plain Yogurt,...,gel hand wash sea minerals,in Gravy with Carrots Peas & Corn Mashed Potatoes & Meatloaf Nuggets,of Hanover 100 Calorie Pretzels Mini,of Norwich Original English Mustard Powder Double Superfine,smartwater® Electrolyte Enhanced Water,vitaminwater® XXX Acai Blueberry Pomegranate,with Crispy Almonds Cereal,with Olive Oil Mayonnaise,with Olive Oil Mayonnaise Dressing,with Xylitol Minty Sweet Twist 18 Sticks Sugar Free Gum
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [37]:
# from mlxtend.frequent_patterns import apriori, association_rules

# # Get frequent itemsets
# frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)

# # Generate rules
# rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

# # Sort by lift
# rules = rules.sort_values(by="lift", ascending=False)

# print(rules.head(10))

In [58]:
from mlxtend.frequent_patterns import fpgrowth, association_rules

frequent_itemsets = fpgrowth(df, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)
rules = rules.sort_values(by="confidence", ascending=False)

In [59]:
print(rules.head(100))

                 antecedents               consequents  antecedent support  \
22        (Honeycrisp Apple)                  (Banana)              0.0286
27      (Organic Fuji Apple)                  (Banana)              0.0294
24          (Cucumber Kirby)                  (Banana)              0.0276
10     (Organic Raspberries)  (Bag of Organic Bananas)              0.0448
6     (Organic Hass Avocado)  (Bag of Organic Bananas)              0.0666
29            (Strawberries)                  (Banana)              0.0438
19         (Organic Avocado)                  (Banana)              0.0550
20      (Organic Whole Milk)                  (Banana)              0.0392
14    (Organic Strawberries)                  (Banana)              0.0838
13     (Organic Raspberries)    (Organic Strawberries)              0.0448
0     (Organic Baby Spinach)                  (Banana)              0.0700
16    (Organic Strawberries)  (Bag of Organic Bananas)              0.0838
8     (Organic Hass Avocado)    (Organic Strawberries)              0.0666
4     (Organic Baby Spinach)  (Bag of Organic Bananas)              0.0700
7   (Bag of Organic Bananas)    (Organic Hass Avocado)              0.1244
3     (Organic Baby Spinach)    (Organic Strawberries)              0.0700
9     (Organic Strawberries)    (Organic Hass Avocado)              0.0838
2     (Organic Strawberries)    (Organic Baby Spinach)              0.0838
17  (Bag of Organic Bananas)    (Organic Strawberries)              0.1244
15                  (Banana)    (Organic Strawberries)              0.1512
11  (Bag of Organic Bananas)     (Organic Raspberries)              0.1244
12    (Organic Strawberries)     (Organic Raspberries)              0.0838
5   (Bag of Organic Bananas)    (Organic Baby Spinach)              0.1244
18                  (Banana)         (Organic Avocado)              0.1512
1                   (Banana)    (Organic Baby Spinach)              0.1512
28                  (Banana)            (Strawberries)              0.1512
23                  (Banana)        (Honeycrisp Apple)              0.1512
26                  (Banana)      (Organic Fuji Apple)              0.1512
21                  (Banana)      (Organic Whole Milk)              0.1512
25                  (Banana)          (Cucumber Kirby)              0.1512

    consequent support  support  confidence      lift  representativity  \
22              0.1512   0.0120    0.419580  2.775003               1.0
27              0.1512   0.0108    0.367347  2.429543               1.0
24              0.1512   0.0100    0.362319  2.396289               1.0
10              0.1244   0.0152    0.339286  2.727377               1.0
6               0.1244   0.0216    0.324324  2.607109               1.0
29              0.1512   0.0142    0.324201  2.144186               1.0
19              0.1512   0.0164    0.298182  1.972102               1.0
20              0.1512   0.0104    0.265306  1.754670               1.0
14              0.1512   0.0194    0.231504  1.531108               1.0
13              0.0838   0.0102    0.227679  2.716928               1.0
0               0.1512   0.0152    0.217143  1.436130               1.0
16              0.1244   0.0176    0.210024  1.688295               1.0
8               0.0838   0.0136    0.204204  2.436804               1.0
4               0.1244   0.0140    0.200000  1.607717               1.0
7               0.0666   0.0216    0.173633  2.607109               1.0
3               0.0838   0.0120    0.171429  2.045687               1.0
9               0.0666   0.0136    0.162291  2.436804               1.0
2               0.0700   0.0120    0.143198  2.045687               1.0
17              0.0838   0.0176    0.141479  1.688295               1.0
15              0.0838   0.0194    0.128307  1.531108               1.0
11              0.0448   0.0152    0.122186  2.727377               1.0
12              0.0448   0.0102    0.121718  2.716928               1.0
5               0.0700   0.0140    0.112540  1.607717               1.0
18              0.0550   0.0164    0.108466  1.972102               1.0
1               0.0700   0.0152    0.100529  1.436130               1.0
28              0.0438   0.0142    0.093915  2.144186               1.0
23              0.0286   0.0120    0.079365  2.775003               1.0
26              0.0294   0.0108    0.071429  2.429543               1.0
21              0.0392   0.0104    0.068783  1.754670               1.0
25              0.0276   0.0100    0.066138  2.396289               1.0

    leverage  conviction  zhangs_metric   jaccard  certainty  kulczynski
22  0.007676    1.462390       0.658472  0.071514   0.316188    0.249473
27  0.006355    1.341652       0.606223  0.063604   0.254650    0.219388
24  0.005827    1.331073       0.599227  0.059242   0.248726    0.214228
10  0.009627    1.325232       0.663052  0.098701   0.245415    0.230736
6   0.013315    1.295888       0.660417  0.127509   0.228328    0.248979
29  0.007577    1.255995       0.558066  0.078540   0.203818    0.209058
19  0.008084    1.209430       0.521616  0.086407   0.173164    0.203324
20  0.004473    1.155311       0.447640  0.057778   0.134432    0.167045
14  0.006729    1.104494       0.378605  0.089981   0.094608    0.179905
13  0.006446    1.186294       0.661576  0.086149   0.157038    0.174698
0   0.004616    1.084234       0.326542  0.073786   0.077690    0.158836
16  0.007175    1.108388       0.444975  0.092340   0.097789    0.175751
8   0.008019    1.151300       0.631698  0.099415   0.131417    0.183248
4   0.005292    1.094500       0.406452  0.077605   0.086341    0.156270
7   0.013315    1.129523       0.704012  0.127509   0.114670    0.248979
3   0.006134    1.105759       0.549642  0.084626   0.095643    0.157313
9   0.008019    1.114230       0.643557  0.099415   0.102519    0.183248
2   0.006134    1.085432       0.557920  0.084626   0.078708    0.157313
17  0.007175    1.067184       0.465608  0.092340   0.062955    0.175751
15  0.006729    1.051058       0.408669  0.089981   0.048578    0.179905
11  0.009627    1.088158       0.723330  0.098701   0.081016    0.230736
12  0.006446    1.087578       0.689737  0.086149   0.080526    0.174698
5   0.005292    1.047935       0.431704  0.077605   0.045742    0.156270
18  0.008084    1.059970       0.580734  0.086407   0.056577    0.203324
1   0.004616    1.033941       0.357781  0.073786   0.032827    0.158836
28  0.007577    1.055310       0.628679  0.078540   0.052411    0.209058
23  0.007676    1.055141       0.753582  0.071514   0.052260    0.249473
26  0.006355    1.045262       0.693214  0.063604   0.043302    0.219388
21  0.004473    1.031768       0.506706  0.057778   0.030790    0.167045
25  0.005827    1.041267       0.686484  0.059242   0.039631    0.214228

In [60]:
def recommend_products(cart_items, rules, top_n=5):
    """
    Recommend products based on unseen cart items using association rules.
    
    cart_items : list of str
        Products currently in the user's cart
    rules : pd.DataFrame
        Association rules dataframe from mlxtend
    top_n : int
        Number of recommendations to return
    """
    recommendations = []

    for item in cart_items:
        # Find rules where this item appears in the antecedents
        matched_rules = rules[rules['antecedents'].apply(lambda x: item in x)]
        
        for _, row in matched_rules.iterrows():
            for consequent in row['consequents']:
                if consequent not in cart_items:  # avoid suggesting same item
                    recommendations.append((consequent, row['confidence'], row['lift']))
    
    # Sort by confidence, then lift
    recommendations = sorted(recommendations, key=lambda x: (x[1], x[2]), reverse=True)

    # Keep only unique top_n items
    seen, final_recs = set(), []
    for rec in recommendations:
        if rec[0] not in seen:
            final_recs.append(rec)
            seen.add(rec[0])
        if len(final_recs) >= top_n:
            break

    return final_recs

In [ ]:
# Example unseen cart
cart = ["Peanut Butter", "Bag of Organic Bananas"]

# Get recommendations
recs = recommend_products(cart, rules, top_n=5)

print("Cart:", cart)
print("\nRecommended Products:")
for item, conf, lift in recs:
    print(f"- {item} (confidence={conf:.2f}, lift={lift:.2f})")

Cart: ['Bag of Organic Bananas', 'Peanut Butter']

Recommended Products:
- Organic Hass Avocado (confidence=0.17, lift=2.61)
- Organic Strawberries (confidence=0.14, lift=1.69)
- Organic Raspberries (confidence=0.12, lift=2.73)
- Organic Baby Spinach (confidence=0.11, lift=1.61)

Just to determine stronger rules

In [39]:
# Define thresholds
min_support = 0.005     # 0.5% of transactions
min_confidence = 0.2    # at least 20% chance
min_lift = 1.2          # rule is better than random chance

# Apply filtering
strong_rules = rules[
    (rules['support'] >= min_support) &
    (rules['confidence'] >= min_confidence) &
    (rules['lift'] >= min_lift)
].sort_values(by=['lift','confidence'], ascending=False)

print(strong_rules[['antecedents','consequents','support','confidence','lift']].head(20))

               antecedents               consequents  support  confidence  \
15   (Organic Raspberries)    (Organic Strawberries)   0.0100    0.233100
22      (Honeycrisp Apple)                  (Banana)   0.0102    0.387833
12   (Organic Raspberries)  (Bag of Organic Bananas)   0.0131    0.305361
25    (Organic Fuji Apple)                  (Banana)   0.0102    0.364286
6   (Organic Hass Avocado)  (Bag of Organic Bananas)   0.0189    0.294852
27          (Strawberries)                  (Banana)   0.0133    0.287257
21       (Organic Avocado)                  (Banana)   0.0159    0.278947
4   (Organic Baby Spinach)  (Bag of Organic Bananas)   0.0157    0.216552
18  (Organic Strawberries)  (Bag of Organic Bananas)   0.0170    0.215463
16  (Organic Strawberries)                  (Banana)   0.0187    0.237009
1   (Organic Baby Spinach)                  (Banana)   0.0149    0.205517

        lift
15  2.954376
22  2.601158
12  2.525735
25  2.443231
6   2.438807
27  1.926606
21  1.870874
4   1.791164
18  1.782156
16  1.589597
1   1.378385

In [40]:
def frozenset_to_str(fset):
    return ', '.join(list(fset))

lookup_df = strong_rules.copy()
lookup_df['antecedents'] = lookup_df['antecedents'].apply(frozenset_to_str)
lookup_df['consequents'] = lookup_df['consequents'].apply(frozenset_to_str)

# Keep only useful columns
lookup_df = lookup_df[['antecedents','consequents','support','confidence','lift']]

In [42]:
lookup_df.head()

,antecedents,consequents,support,confidence,lift
15,Organic Raspberries,Organic Strawberries,0.0100,0.233100,2.954376
22,Honeycrisp Apple,Banana,0.0102,0.387833,2.601158
12,Organic Raspberries,Bag of Organic Bananas,0.0131,0.305361,2.525735
25,Organic Fuji Apple,Banana,0.0102,0.364286,2.443231
6,Organic Hass Avocado,Bag of Organic Bananas,0.0189,0.294852,2.438807

In [ ]:
# lookup_df.to_csv("product_recommendations.csv", index=False)
# print("CSV saved: product_recommendations.csv")

CSV saved: product_recommendations.csv